<a href="https://colab.research.google.com/github/TottiPuc/Machine_learning/blob/master/clasificaci%C3%B3n_keras.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Clasificación de Vinos con keras
En este notebook crearemos una red neuronal usando Keras para clasificación de vinos. El dataset se encuentra disponible en el repositorio de dataset para machine learning [UCI](http://archive.ics.uci.edu/ml/datasets.php) el cual posee tres categorias diferentes de vinos. Nuestro objetivo es identificar a cual de esas tres clases el vino puede pertenecer.

In [0]:
import pandas as pd
import numpy as np
from keras.utils import np_utils
import tensorflow as tf

Importamos el dataset del repositorio UCI

In [1]:
!wget http://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data

--2020-04-05 17:34:45--  http://archive.ics.uci.edu/ml/machine-learning-databases/wine/wine.data
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:80... connected.
HTTP request sent, awaiting response... 200 OK
Length: 10782 (11K) [application/x-httpd-php]
Saving to: ‘wine.data’

wine.data           100%[===================>]  10.53K  --.-KB/s    in 0s

2020-04-05 17:34:45 (260 MB/s) - ‘wine.data’ saved [10782/10782]

Como el dataset no trae el header o cabecera con el nombre de las caracteristicas, se hace una lectura y se incorpora el nombre de cada caracterisitca previamente descrita en la pagina oficial del dataset.

In [0]:
datos = pd.read_csv("wine.data",names=["Class","Alcohol", "Malic acid", "Ash", "Alcalinity of ash", "Magnesium", "Total phenols", "Flavanoids", "Nonflavanoid phenols", "Proanthocyanins", "Color intensity",
                                       "Hue", "OD280/OD315 of diluted wines", "Proline"])

In [8]:
datos

     Class  Alcohol  Malic acid  ...   Hue  OD280/OD315 of diluted wines  Proline
0        1    14.23        1.71  ...  1.04                          3.92     1065
1        1    13.20        1.78  ...  1.05                          3.40     1050
2        1    13.16        2.36  ...  1.03                          3.17     1185
3        1    14.37        1.95  ...  0.86                          3.45     1480
4        1    13.24        2.59  ...  1.04                          2.93      735
..     ...      ...         ...  ...   ...                           ...      ...
173      3    13.71        5.65  ...  0.64                          1.74      740
174      3    13.40        3.91  ...  0.70                          1.56      750
175      3    13.27        4.28  ...  0.59                          1.56      835
176      3    13.17        2.59  ...  0.60                          1.62      840
177      3    14.13        4.10  ...  0.61                          1.60      560

[178 rows x 14 columns]

In [11]:
#obteniendo el valor de las tres clases
y = datos["Class"].values
print(y)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2,
       2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3,
       3, 3])

Como se puede observar las clases vienen representadas en un unico array unidimensional entre 1 y 3 de esta forma no se puede alimentar la red construida con keras, es necesario convertirla en una matriz haciendo un hot-encodig

In [0]:
#ajustando el foramto de Y convirtiendo array 1-D en matriz
y_train = np_utils.to_categorical(y)
print(y_train)

La funcion usada convierte el aarray en matriz solo que aumenta una columna y como solo tenemos tres clases hacemos un slice

In [0]:
y_train = y_train[:,1:4]
print(y_train)

Eliminamos la columna Class del dataset

In [0]:
del(datos["Class"])
datos = datos.values

## Creando la arquitectura del modelo

In [0]:
model = tf.keras.models.Sequential()

Con el modelo instanciado, creamos las capas una tras otra con la funcion Dense del paquete keras del framework tensorflow, donde especificamos el numero de neuronas en el primer argumento, el kernel para la convolucion como segundo argumento y la funcion de activacion como tercer argumento.

el valor "normal" en el parametro kernel_initializer" genera pequeños valores aleatorios com una distribución Gaussiana.

Se usa la funcion de activación **ReLu** en las dos primeras capas ya que segun las ultimas investigaciones son las que ofrecen mejores resultados. se usa la función **sigmoid** en las capas internas para grantizar que la salida de lared este entre o y 1 y la función **softmax** en la capa de salida que ofrece las probabilidades usadas para el problema de clasificación

In [0]:
model.add(tf.keras.layers.Dense(40,input_dim=13, kernel_initializer='normal', activation='relu'))

In [0]:
model.add(tf.keras.layers.Dense(10, kernel_initializer='normal',activation='sigmoid'))

In [0]:
model.add(tf.keras.layers.Dropout(0.10))

In [0]:
model.add(tf.keras.layers.Dense(5,kernel_initializer='normal',activation='sigmoid'))

In [0]:
model.add(tf.keras.layers.Dense(3,kernel_initializer='normal',activation='softmax'))

In [27]:
model.summary()

Model: "sequential_1"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense (Dense)                (None, 40)                560
_________________________________________________________________
dense_1 (Dense)              (None, 40)                1640
_________________________________________________________________
dense_2 (Dense)              (None, 10)                410
_________________________________________________________________
dropout (Dropout)            (None, 10)                0
_________________________________________________________________
dense_3 (Dense)              (None, 5)                 55
_________________________________________________________________
dense_4 (Dense)              (None, 3)                 18
=================================================================
Total params: 2,683
Trainable params: 2,683
Non-trainable params: 0
_________________________________________________________________

#Optimización del modelo usando Stochastic Gradient Descent SGD

Keras nos ofrece muchas funciones y vareaciones del gradient descent que se pueden encontrar en 
[optimizadores](https://keras.io/optimizers/)

In [0]:
SGD = tf.keras.optimizers.Adam(learning_rate=0.001,beta_1=0.9, beta_2=0.999,epsilon=1e-09,decay=0.0)

Finalmente compilamos el modelo

In [0]:
model.compile(optimizer=SGD,loss='categorical_crossentropy',metrics=['acc'])

In [0]:
model.fit(datos,y_train,epochs=1600,verbose=1)

Finalmente obtenemos la precision del modelo

In [0]:
score = model.evaluate(datos,y_train,verbose=0)

In [37]:
print(score)

[0.012367748655378819, 0.9943820238113403]