#NN_con keras vs Arbol de Decisión
En este notebook se contruira dos algorimtos de machine learning el primero sera el de arbol de decisión para predecir el numero de muertos del dataset TITANIC y el segundo se realizará la misma predicción pero usando una red neuronal contruida en keras

In [3]:
from platform import python_version
print("Versión de python usada en este notebook: ", python_version())

Versión de python usada en este notebook:  3.6.9

In [0]:
!pip install watermark

In [0]:
import numpy as np
import tensorflow as tf
import keras
import pandas as pd
import sklearn
from sklearn.preprocessing import StandardScaler
import pandas
import numpy

In [12]:
%reload_ext watermark
%watermark -a "Christian Dayan Arcos Gordillo" --iversion

sklearn    0.22.2.post1
numpy      1.18.2
pandas     1.0.3
keras      2.3.1
tensorflow 2.2.0-rc2
Christian Dayan Arcos Gordillo

In [0]:
np.random.seed(1337)

In [0]:
#importamos el dataset
from google.colab import files
files.upload()

In [0]:
df = pd.read_csv('titanic.csv')

In [41]:
df.head()

   Survived  Class  Sex   Age     Fare
0         0      3    1  22.0   7.2500
1         1      1    0  38.0  71.2833
2         1      3    0  26.0   7.9250
3         1      1    0  35.0  53.1000
4         0      3    1  35.0   8.0500

In [42]:
df.tail()

     Survived  Class  Sex        Age   Fare
886         0      2    1  27.000000  13.00
887         1      1    0  19.000000  30.00
888         0      3    0  29.699118  23.45
889         1      1    1  26.000000  30.00
890         0      3    1  32.000000   7.75

Separamos las variables predictoras de la variable target y las normalizamos para que queden todas en la mísma escala.

In [0]:
df_train = df.iloc[:712,:]
scaler = StandardScaler()
features =['Class','Sex','Age','Fare']
X_train = scaler.fit_transform(df_train[features].values)
y_train = df_train['Survived'].values
y_train_onehot = pd.get_dummies(y_train)

In [0]:
df_test = df.iloc[712:,:]
X_test = scaler.transform(df_test[features].values)
y_test = df_test['Survived'].values

In [0]:
X_test

In [47]:
X_train

array([[ 0.83290956,  0.74926865, -0.61259594, -0.51933199],
       [-1.55353553, -1.33463478,  0.6184268 ,  0.79718222],
       [ 0.83290956, -1.33463478, -0.30484025, -0.5054541 ],
       ...,
       [ 0.83290956,  0.74926865, -0.02023413, -0.35493964],
       [-1.55353553, -1.33463478, -0.45871809,  0.34940748],
       [-1.55353553,  0.74926865, -0.02023413, -0.12252713]])

In [0]:
y_train

## Creando un modelo basado en Arbol de Decisión ( benchmark )

In [0]:
from sklearn.ensemble import RandomForestClassifier

model = RandomForestClassifier(random_state=0, verbose=3)
model = model.fit(X_train, y_train)

In [57]:
y_predict = model.predict(X_test)
print("Precisión del modelo de arbol de decisión es :", np.sum(y_predict==y_test)/float(len(y_test)))

Precisión del modelo de arbol de decisión es : 0.8324022346368715

[Parallel(n_jobs=1)]: Using backend SequentialBackend with 1 concurrent workers.
[Parallel(n_jobs=1)]: Done   1 out of   1 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done   2 out of   2 | elapsed:    0.0s remaining:    0.0s
[Parallel(n_jobs=1)]: Done 100 out of 100 | elapsed:    0.0s finished

##Red Neuronal con 1 Capa

In [61]:
from time import time
start = time()
model1 = tf.keras.models.Sequential()
model1.add(tf.keras.layers.Dense(input_dim=4,units=2))
model1.add(tf.keras.layers.Activation('softmax'))
model1.compile(optimizer='sgd',loss='categorical_crossentropy',metrics=['accuracy'])
model1.fit(X_train,y_train_onehot,epochs=10)
print("\nTiempo de entrenamiento :", time() - start)

Epoch 1/10
23/23 [==============================] - 0s 1ms/step - loss: 0.6173 - accuracy: 0.6980
Epoch 2/10
23/23 [==============================] - 0s 1ms/step - loss: 0.6213 - accuracy: 0.7121
Epoch 3/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5821 - accuracy: 0.7233
Epoch 4/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5714 - accuracy: 0.7289
Epoch 5/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5513 - accuracy: 0.7374
Epoch 6/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5452 - accuracy: 0.7416
Epoch 7/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5386 - accuracy: 0.7444
Epoch 8/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5210 - accuracy: 0.7472
Epoch 9/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5202 - accuracy: 0.7486
Epoch 10/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5130 - accuracy: 0.7556

Tiempo de entrenamiento : 0.5860929489135742

In [64]:
y_predict = model1.predict_classes(X_test)
print("\nPrecisión de la red :", np.sum(y_test == y_predict)/float(len(y_test)))

Precisión de la red : 0.8100558659217877

##Red Neuronal con 2 capas

In [66]:
start = time()
model2 = tf.keras.models.Sequential()
model2.add(tf.keras.layers.Dense(input_dim=4,units=100))
model2.add(tf.keras.layers.Dense(units=2))
model2.add(tf.keras.layers.Activation('softmax'))
model2.compile(optimizer='sgd',loss='categorical_crossentropy',metrics=['accuracy'])
model2.fit(X_train,y_train_onehot,epochs=10)
print("\nTiempo de entrenamiento :", time() - start)

Epoch 1/10
23/23 [==============================] - 0s 1ms/step - loss: 0.8734 - accuracy: 0.3287
Epoch 2/10
23/23 [==============================] - 0s 1ms/step - loss: 0.6570 - accuracy: 0.6180
Epoch 3/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5732 - accuracy: 0.7669
Epoch 4/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5295 - accuracy: 0.7781
Epoch 5/10
23/23 [==============================] - 0s 1ms/step - loss: 0.5110 - accuracy: 0.7781
Epoch 6/10
23/23 [==============================] - 0s 1ms/step - loss: 0.4965 - accuracy: 0.7795
Epoch 7/10
23/23 [==============================] - 0s 1ms/step - loss: 0.4818 - accuracy: 0.7781
Epoch 8/10
23/23 [==============================] - 0s 1ms/step - loss: 0.4808 - accuracy: 0.7795
Epoch 9/10
23/23 [==============================] - 0s 1ms/step - loss: 0.4878 - accuracy: 0.7753
Epoch 10/10
23/23 [==============================] - 0s 1ms/step - loss: 0.4827 - accuracy: 0.7781

Tiempo de entrenamiento : 0.6268332004547119

In [67]:
y_predict = model2.predict_classes(X_test)
print("\nPrecisión de la red :", np.sum(y_test == y_predict)/float(len(y_test)))

Precisión de la red : 0.8100558659217877

Como se puede ver con la red neuronal se obtienen mejores resultados, pero podemos ver que si aumentamos las capas no mejora la calidad de precisión da lo mismo con una capa de entrada que con 2